@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 59px;
    width: 100%;
    background:#000;
    color: white;
    z-index: 5;
}
.header__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
}
.topbar__nav{
    display: flex;
    list-style: none;
    transition: all 0.85s;
}
.nav__item {
    margin: 0 10px;
}
.nav__item:hover {
    background: yellowgreen;
}
.nav__item a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    transition: 0.75s;
    text-transform: uppercase;
}

.topbar__name {
    font-size: 1.8rem;
    
}

.content {
    width: 100%;
    background: #f3f3f3;
    margin-top: 60px;
    transition: all 0.85s;
}
.content__section {
    width: 100%;
    height: 100vh;
}
.content__start{
    background: yellowgreen;
    text-align: center;
    color: black;
}
.content__skills{
    background: sienna;
}
.content__projects{
    background: yellowgreen;
}
.content__xpwork{
    background: sienna;
}
.start__saudations {
    font-size: 4rem;
    padding: 80px 0;
}
.start__bio {
    line-height: 3rem;
    font-size: 2rem;
    margin-top: 50px;
    padding: 0 100px;
}
.topbar__hamburger{
    background: none;
    font-size: 30px;
    border: none;
    color: white;
    display: none;
    cursor: pointer;
    margin-top: 8px;
}
@media(max-width:961px){
    .topbar__nav{
        display: none;
    }
    .topbar__name{
        padding-top: 10px;
    }
    .topbar__hamburger{
        display: block;
    }
    .start__saudations{
        font-size: 2.5rem;
        padding-bottom: 40px;
    }   
    .start__bio{
        font-size: 1.8rem;
        padding: 0 40px;
    }
}
.topbar__nav--closed {
    display: block;
    position: absolute;
    top: 90%;
    width: 100%;
    left: 0;
    z-index: 2;
    background-color: #000;
}

.content--move{
    position: absolute;
    top: 45%;
    z-index: 1;
}